@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

h1, h2, h3, h4, h5 {
    color: #186AA5;
}


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 95vh;
    margin: 0;
}

.volver_login {
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 1em;
}

.volver_login img {
    display: inline-block;
}

.volver_login p {
    display: inline-block;
    color: #186AA5;
    padding-left: 5px;
}

.logo_login {
    position: absolute;
    top: 10px;
    right: 0;
}

.form_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.form_login form {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
}


.form_login_spaces h3 {
    text-align: center;
    color: #186AA5;
    font-size: 24px;
    margin-bottom: 50px;
}

.form_login_spaces input {
    display: block;
    padding: 10px;
    min-width: 90%;
    margin: 28px auto;
    border: 1px solid #73A1C2;
}

.form_login_spaces input::placeholder {
    color: #186AA5;
}

.form_login_spaces button {
    display: block;
    margin: 28px auto;
    min-width: 90%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
}

.form_login_spaces a {
    text-align: center;
    display: block;
    margin: 30px auto 10px auto;
    font-size: 12px;
    text-decoration: none;
    color: #186AA5;
}

.login_change_profile {
    position: absolute;
    bottom: 30px;
    right: 30px
}

.login_change_profile a {
    font-size: 15px;
    text-decoration: none;
    color: #186AA5;
}

.announce {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: .8em;
}

@media only screen and (max-width: 1200px) {
    .volver_login {
        left: 50px;
    }

    .form_login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .form_login form {
        width: 90%;
    }

}

/**  NAVBAR  **/

.Navbar {
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 1.4em;
    font-family: sans-serif;
    color: black;
    border-bottom: #186AA5 1px solid;
}

.Navbar_Link {
    padding-left: 2em;
}

.Navbar_Link a {
    text-decoration: none;
    color: #186AA5;
    font-weight: bold;

}

.Navbar_Link button {
    padding: 13px;
    background: white;
    color: #186AA5;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #73A1C2;
    cursor: pointer;
}

.Navbar_Items {
    display: flex;
    margin: auto;
}

.Navbar_Items_Right {
    display: flex;
    margin: auto 0;
    padding-right: 1em;
}

.Navbar_Link_Toggle {
    display: none;
}

.Navbar_Link_Brand img {
    width: 60px;
}

@media only screen and (max-width: 768px) {

    .Navbar_Items,
    .Navbar {
        flex-direction: column;
        position: relative;
    }

    .Navbar {
        padding: 1em;
    }


    .Navbar_Link {
        padding-left: 1em;
        margin: .5em;
    }

    .Navbar_Link_Brand {
        padding-left: 4.5em;
        margin: .5em;
    }

    .Navbar_Link_Brand img {
        width: 50px;
    }

    .Navbar_Link_Item {
        border-top: 1.5px solid #186AA5;
        padding: 1em 0 .5em 0;
    }

    .Navbar_Items {
        display: none;
        margin: 0;
        padding: 2em 0 0 0;
    }

    .Navbar_Items_Right {
        position: absolute;
        right: 1em;
        top: 1.4em;
    }

    .Navbar_Toggle_Show {
        display: flex;
    }

    .Navbar_Link_Toggle {
        align-self: flex-start;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding-top: 1em;
    }
}

/* Seguimiento y CRM */

.container_seguimiento {
    padding: 2em;
}

.container_seguimiento h1 {
    margin-top: 3.5em;
}

.button_crear_prospecto {
    padding: 1em 2em;
    background: #186AA5;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #186AA5;
    margin-right: 1em;
    min-width: 18em;
    cursor: pointer;
}

.button_crear_cliente {
    padding: 1em 2em;
    background: white;
    color: #186AA5;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    min-width: 18em;
    cursor: pointer;
}

.buttons_acciones_seguimiento {
    padding: 2em 0;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1em 0 3em 0;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid #73A1C2;
    border-radius: .5em;
    padding-left: 1em;
}

.cards>*+* {
    margin-top: 1em;
}


.card_icon {
    flex-basis: 5%;
    cursor: pointer;

}

.card_name {
    flex-basis: 20%;
    font-weight: bold;
    color: #186AA5;
    cursor: pointer;

}

.card_tel {
    flex-basis: 15%;
    cursor: pointer;

}

.card_mail {
    flex-basis: 25%;
    cursor: pointer;

}

.card_group {
    flex-basis: 15%;
    cursor: pointer;

}

.card_pedido {
    flex-basis: 20%;
    cursor: pointer;

}

.card_pedido button {
    width: 100%;
    height: 100%;
    min-height: 3.5em;
    background-color: #186AA5;
    color: white;
    border: #186AA5 1px solid;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
}

.card_drop {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .container_seguimiento {
        padding: 1em;
    }

    .container_seguimiento h1 {
        margin-top: 1em;
    }

    .button_crear_prospecto {
        width: 100%;
        margin: 1em 0 .5em 0;
    }

    .button_crear_cliente {
        width: 100%;
        margin: .5em 0 .5em 0;
    }

    .buttons_acciones_seguimiento {
        padding: 2em 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        padding: 1em 0 3em 0;
    }

    .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #73A1C2;
        border-radius: .5em;
        padding: 1em
    }

    .cards>*+* {
        margin-top: 1em;
    }


    .card_icon {
        flex-basis: 10%;
    }

    .card_name {
        flex-basis: 60%;
        font-weight: bold;
        color: #186AA5;
        margin-bottom: .25em;
    }


    .card_drop {
        display: inline;
        flex-basis: 8%;
        align-self: flex-start;
    }

    .card_tel {
        flex-basis: 100%;
        margin-top: 1em;
        display: none;

    }

    .card_mail {
        flex-basis: 100%;
        margin-top: 1em;
        display: none;

    }

    .card_group {
        flex-basis: 100%;
        margin-top: 1em;
        display: none;

    }

    .card_pedido {
        flex-basis: 100%;
        margin-top: 1em;
        display: none;
    }

    .Client_Show {
        display: flex;
    }
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2em;
    border: 1px solid #888;
    width: 60%;
    border-radius: .5em;
}

#Modal_Crear_Pedido .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.2em 5em 1.2em 1.2em;
    border: 1px solid #888;
    width: 60%;
    border-radius: .5em;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .form_login_spaces h3 {
    font-size: 30px;
    text-align: left;
    padding-left: 2.4em;
}

.modal-content .form_login_spaces input {
    font-size: 16px;
    padding: 0.8em;
    border-radius: .25em;
}

.modal-content .form_login_spaces button {
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
}

.modal-content .form_login_spaces h4 {
    text-align: left;
    color: #186AA5;
    font-size: 24px;
    margin-bottom: 50px;
    padding-left: 3em;
}

#cliente-info p {
    text-align: left;
    color: #186AA5;
    font-size: 17px;
    margin-bottom: 15px;
    padding-left: 4.3em;
}

.flex_cliente_info {
    display: flex;
    margin-bottom: 2em;
}

#cliente-info {
    flex-basis: 80%;
}

.buttons_crear_pedido {
    align-self: flex-end;
    display: initial;
    padding-bottom: 1em;
}

.modal-content .form_login_spaces .flex_cliente_info button {
    min-width: 13em;
    margin: 0;
}

.modal-content .form_login_spaces .flex_cliente_info button[option="1"] {
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
    margin-top: 10px;
    background-color: rgb(165, 51, 51);
}

@media only screen and (max-width: 1200px) {
    .modal {
        padding-top: 200px;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0;
        padding: 15px;
        border: 1px solid #888;
        width: 100%;
        border-top-right-radius: 1.5em;
        border-top-left-radius: 1.5em;
        ;
    }

    #Modal_Crear_Pedido .modal-content {
        background-color: #fefefe;
        margin: 0;
        padding: 15px;
        border: 1px solid #888;
        width: 100%;
        border-top-right-radius: 1.5em;
        border-top-left-radius: 1.5em;
        ;
    }

    .modal-content .form_login_spaces h4 {
        text-align: left;
        color: #186AA5;
        font-size: 24px;
        margin-bottom: 50px;
        padding-left: 1.2em;
    }

    .close {
        color: #aaaaaa;
        float: right;
        margin: 0.7em 0.5em 0 0;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content .form_login_spaces h3 {
        padding-left: 0.7em;
    }

    .modal-content .form_login_spaces button {
        font-size: 18px;
        font-weight: bold;
        padding: 1em;
        margin-top: 60px;
    }



    #cliente-info p {
        text-align: left;
        color: #186AA5;
        font-size: 17px;
        margin-bottom: 15px;
        padding-left: 1.3em;
    }

    .flex_cliente_info {
        flex-direction: column;
    }

    #cliente-info {
        flex-basis: 100%;
    }

    .buttons_crear_pedido {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }

    .modal-content .form_login_spaces .flex_cliente_info button {
        font-size: 18px;
        font-weight: bold;
        padding: 1em;
        margin-top: 60px;
    }
}

/* PEDIDOS */

select {
    border: none;
    font-size: 14px;
    height: 3.5em;
    padding: .5em;
    width: 100%;
    font-weight: bold;
}

select option {
    font-weight: bold;
}

.card_fase {
    flex-basis: 13%;
    height: 100%;
}

.card_opciones {
    flex-basis: 8%;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
    cursor: pointer;

}

.card_opciones img {
    height: 35px;
    flex-direction: row;
    margin-left: .7em;
}

.card_id {
    flex-basis: 12%;
    font-weight: bold;
    color: #186AA5;
    cursor: pointer;

}


#pedidos .cards {
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;

}

#pedidos h2 {
    padding-top: 1em;
}

#pedidos h2:first-of-type {
    padding-top: 0;
}

@media only screen and (max-width: 1200px) {

    #pedidos .card {
        padding: 0 0 0 1em;
    }

    #pedidos .card .card_name {
        flex-basis: 23%;
        font-weight: bold;
        color: #186AA5;
        margin-bottom: 0;
    }


    .card_opciones img {
        height: 35px;
        margin: 0;
        padding: 0;
        flex-direction: row;
    }

    .card_fase {
        flex-basis: 32%;
        width: 100%;
    }

    .card_opciones {
        flex-basis: 25%;
        flex-direction: row;
    }
}

#modalPedido .form_login_spaces {
    padding-bottom: 1em;

}

#modalPedido .form_login_spaces .card {
    flex-direction: column;
    padding-left: 0;
}

#modalPedido .form_login_spaces .card div {
    border-bottom: 1px solid #186AA5;
    border-left: 1px solid #186AA5;
    padding: 1em;
    border-radius: .3em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#modalPedido .form_login_spaces .card h5 {
    font-size: 1.1em;
    margin: 0;
    flex-basis: 80%;
}

#modalPedido .form_login_spaces .card .drop {
    flex-basis: 3%;
    margin-left: auto;
    margin-right: 0;

}

#modalPedido .form_login_spaces .card img {
    height: 2em;
    width: 2em;
    margin: auto 2em auto 1em;

}

#modalPedido h4 {
    text-align: left;
    color: #186AA5;
    font-size: 24px;
    margin-bottom: 50px;
    padding-left: .75em;
}

#modalPedido h3 {
    text-align: left;
    color: #186AA5;
    font-size: 30px;
    margin-bottom: 50px;
    padding-left: .5em;
}

#modalPedido .form_login_spaces .card .referencias_expanded {
    display: none;
}

#modalPedido .form_login_spaces .card .equipos_expanded {
    display: none;
}

#modalPedido .form_login_spaces .card .colores_expanded {
    display: none;
}

#modalPedido .form_login_spaces .card .card_aspectos_expanded {
    display: none;
}

#modalPedido .form_login_spaces .card .card_info_basica_expanded {
    display: none;
}

#modalPedido .form_login_spaces .card .card_drop {
    display: flex;
    margin-left: auto;
}

#Modal_Pedido_Proceso .form_login_spaces .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#Modal_Pedido_Proceso .form_login_spaces .card .sub-card-process {
    flex-basis: 10%;
    display: relative;
    height: auto;
}

#Modal_Pedido_Proceso .form_login_spaces .card .sub-card-process img {
    width: 8em;
    margin: 2em 0 0em 0;
    cursor: pointer;

}

#Modal_Pedido_Proceso .form_login_spaces .card .sub-card-process h5 {
    text-align: center;
}

#Modal_Pedido_Proceso .modal-content .form_login_spaces h3 {
    padding-left: .2em;
}

#Modal_Pedido_Proceso .modal-content .form_login_spaces h4 {
    padding-left: .2em;
}

#Modal_Pedido_Proceso .form_login_spaces .card .divider {
    flex-grow: 1;
    border-bottom: 4px solid #186AA5;
    margin: 1px;
    border-radius: 1em;
}

@media only screen and (max-width: 1200px) {
    #Modal_Pedido_Proceso .modal-content {
        padding: 1em 1em 56em 1em;
    }

    #modalPedido .form_login_spaces .card div {
        border-bottom: 1px solid #186AA5;
        border-left: 0px solid white;
        padding: 1.5em .5em 1.5em .5em;
        border-radius: .3em;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #modalPedido .form_login_spaces .card {
        padding: 0;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content {
        padding: 1em 1em 56em 1em;
    }

}


#Modal_Pedido_Proceso_Etapa .form_login_spaces {
    display: flex;
    align-items: center;
    padding: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

#Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces .titles {
    flex-basis: 70%;
}

#Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h3 {
    padding-left: .2em;
    margin: 0;
}

#Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h4 {
    padding-left: .2em;

}

#Modal_Pedido_Proceso_Etapa .modal-content .card-upload {
    flex-basis: 100%;
    padding: 2em;
}

#Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces .card {
    flex-direction: column;
}

#Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h5 {
    color: #73A1C2;
}

#Modal_Pedido_Proceso_Etapa .modal-content .card-upload img {
    margin: auto;
    flex-basis: 100%;
    max-width: 7em;
}

#Modal_Pedido_Proceso_Etapa .modal-content .title-img {
    flex-basis: 30%;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#Modal_Pedido_Proceso_Etapa .modal-content .title-img img {
    max-width: 7em;
    margin-left: auto;
}

#Modal_Pedido_Proceso_Etapa .modal-content .title-img h5 {
    margin-left: auto;
    margin-right: .8em;
    font-size: 1em;
}

#Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal button {
    margin: 2em 0 .5em 1em;
    min-width: 25%;
}

#Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal .return {
    max-width: 5em;
    height: 3.5em;
    background-color: rgb(124, 52, 52);
    color: white;
}

#Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal .accept {
    max-width: 5em;
    height: 3.5em;
    color: white;
    display: absolute;

}

@media only screen and (max-width: 1200px) {
    #Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces .titles {
        flex-basis: 50%;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h3 {
        padding-left: .2em;
        margin: 0;
        font-size: 1.6em;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h4 {
        padding-left: .2em;
        font-size: 1.3em;

    }

    #Modal_Pedido_Proceso_Etapa .modal-content .card-upload {
        flex-basis: 100%;
        padding: 2em;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content .form_login_spaces h5 {
        text-align: center;
    }


    #Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content .buttons-card-modal button {
        margin: 1em 0 0 0;
        min-width: 100%;
    }

    #Modal_Pedido_Proceso_Etapa .modal-content {
        padding: 1em 1em 45em 1em;
    }

}


/* CREAR PEDIDO */

#informacion_basica {
    width: 100%;
    border: 1px solid #186AA5;
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: .5em;
    margin-bottom: 2.5em;
    margin-top: 2em;
}

#aspectos_generales {
    width: 100%;
    border: 1px solid #186AA5;
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: .5em;
    margin-bottom: 3em;
}

#colores {
    width: 100%;
    border: 1px solid #186AA5;
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: .5em;
    margin-bottom: 3em;
}

#equipo {
    width: 100%;
    border: 1px solid #186AA5;
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: .5em;
    margin-bottom: 3em;
}

#imagenes_referencia {
    width: 100%;
    border: 1px solid #186AA5;
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: .5em;
    margin-bottom: 3em;
}

#informacion_basica .contenido_form label {
    margin-right: 1.5em;
}

#informacion_basica .contenido_form input[type="text"] {
    border: 0;
    border-bottom: 1px solid #186AA5;
    font-size: .9em;
    padding: .3em;
    width: 50%;
    margin-bottom: 1em;
}

#informacion_basica  select {
    border: 0;
    border-bottom: 1px solid #186AA5;
    font-size: .9em;
    padding: .3em;
    width: 50%;
    margin-bottom: 1em;
    background-color: white;
}

#informacion_basica .contenido_form input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    margin: 1em .5em 0 1em;
}

#informacion_basica .contenido_form input[type="checkbox"]:checked {
    background-color: #186AA5;
    color: white;
}

#informacion_basica .contenido_form button {
    display: block;
    margin-left: auto;
    min-width: 20%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
    margin-top: 2em;
}

.title {
    color: #186AA5;
    font-size: 1.3em;
    padding: .5em 0 2em 0;
    font-weight: bold;
}

.subtitle {
    font-size: .9em;
    color: #186AA5;
    font-weight: bold;
}

#aspectos_generales .contenido_form .card {
    height: 15em;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

#aspectos_generales .contenido_form .card .subtitle {
    text-align: center;
    margin: 1em 0 .5em 0;
}

#imagenes_referencia .contenido_form .card {
    height: 15em;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

#imagenes_referencia .contenido_form .card .subtitle {
    text-align: center;
    margin: 1em 0 .5em 0;
}

#imagenes_referencia .contenido_form .card img {
    height: 8em;
}

#aspectos_generales .contenido_form .card img {
    height: 8em;
}

.flex-aspectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-aspectos div {
    flex-basis: 25%;
}

.flex-aspectos select {
    border: 1px solid #186AA5;
    margin: .8em 0 .8em 0;
    border-radius: .5em;
}

#aspectos_generales .contenido_form button {
    display: block;
    margin-left: auto;
    min-width: 20%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
    margin-top: 2em;
}

#colores .contenido_form .card {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circle {
    border: 1px solid #73A1C2;
    min-height: 6em;
    min-width: 6em;
    max-width: 6em;
    max-height: 6em;
    border-radius: 100%;
    margin: 1em 1em 2em .5em;
    flex-basis: 10%;
}

#equipo .contenido_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#equipo .contenido_form>div {
    flex-basis: 48%;
    padding: 1em;
    border: 1px solid #73A1C2;
    border-radius: .5em;
    margin-bottom: 3em;
}

#equipo .contenido_form .subtitle {
    margin-bottom: 2em;
    font-size: 1.1em;
}

#equipo .contenido_form select {
    height: 3em;
    margin-bottom: 1em;
    margin-top: .5em;
    border: 1px solid #73A1C2;
    border-radius: .5em;
}

#colores .contenido_form button {
    display: block;
    margin-left: auto;
    min-width: 20%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
    margin-top: 2em;
}

#equipo .contenido_form button {
    display: block;
    margin-left: auto;
    max-height: 3.5em;
    min-width: 20%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
    margin-top: 2em;
    align-self: flex-end;
}

#imagenes_referencia .contenido_form button {
    display: block;
    margin-left: auto;
    min-width: 20%;
    padding: 13px;
    background: #186AA5;
    color: white;
    border-radius: 3px;
    border: 1px solid #73A1C2;
    cursor: pointer;
    margin-top: 2em;
}

.container_crear_pedido {
    padding: 0 13em 0 13em;
}

@media only screen and (max-width: 1200px) {
    .container_crear_pedido {
        padding: 0;
    }

    #informacion_basica .contenido_form label {
        margin-right: 1.5em;
    }

    #informacion_basica .contenido_form input[type="text"] {
        width: 100%;
        margin-top: 2em;
    }

    #informacion_basica .contenido_form .checklist-pedido {
        width: 100%;
        display: inline-block;
        margin-bottom: 1em;
        margin-top: 2em;
    }


    #informacion_basica .contenido_form button {
        min-width: 100%;
        margin-top: 4em;
    }

    .flex-aspectos div {
        flex-basis: 100%;
    }

    .flex-aspectos select {
        border: 1px solid #186AA5;
        margin: .8em 0 .8em 0;
        border-radius: .5em;
    }

    #aspectos_generales .contenido_form button {
        min-width: 100%;
        margin-top: 4em;
    }

    .circle {
        border: 1px solid #73A1C2;
        min-height: 5em;
        min-width: 5em;
        max-width: 5em;
        max-height: 5em;
        border-radius: 100%;
        margin: 1em 1em 2em .5em;
        flex-basis: 10%;
    }


    #equipo .contenido_form>div {
        flex-basis: 100%;
    }


    #colores .contenido_form button {
        min-width: 100%;
        padding: 13px;
    }

    #equipo .contenido_form button {
        max-height: 3.5em;
        min-width: 100%;

    }

    #imagenes_referencia .contenido_form button {
        min-width: 100%;
    }
}

/* SEGUIMIENTO */

.padding-top-content {
    padding-top: 2em;
}

.padding-right-nav-link {
    margin-right: 180px;
}

@media only screen and (max-width: 1200px) {
    .padding-right-nav-link {
        margin-right: 0px;
    }
}

.profile {
    cursor: pointer;
    margin-top: .4em;
}

.crear_pedido {
    width: 100%;
    color: white;
    background-color: #186AA5;
    padding: 1.5em;
    font-weight: bold;
    font-size: 1em;
    border: 0;
    border-radius: .5em;
    cursor: pointer;
}

.modal-content-profile {
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    width: 20%;
    border-radius: .5em;
}

.modal-content-profile h3, h4 {
    text-align: left;
    margin: .5em;
}

.cerrar_sesión {
    width: 100%;
    margin: .7em .5em;
    padding: .8em;
    color: white;
    background-color: rgb(157, 12, 12);
    font-weight: bold;
    border: 0;
    border-radius: .5em;
    cursor: pointer;
}

#modalProfile {
    position: absolute;
    right: 1.3em;
    top: 7em;

}

@media only screen and (max-width: 1200px) {
    #modalProfile {
        position: static;
        width: 100%;
        justify-content: flex-end;
        margin-top: auto;
        margin-bottom: 0;
    }

    .cerrar_sesión {
        margin: .9em .5em;
        padding: 1.2em;
        color: white;

    }
}

.admin-form{
    border: 1.8px solid #186AA5;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
}

.wrapper{
    width: 460px;
    padding: 20px;
}

.wrapper form{
    margin-top: 120px;
}

.form-group{
    width: 100%;
}

.form-group *{
    display: block;
    width: 100%;
    margin: 16px 0;
}

.form-group input{
    height: 35px;
}

.form-group input[type='submit'],input[type='reset']  {
    background-color: #186AA5; /* Green */
    color: white;
    padding: 10px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}

.modal-content-profile span{
    font-weight: bold;
    font-size: 18px ;
    color: #73A1C2;
    margin: 0 10px;
}


/*//////*/


.responsive-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 45%;
    height: auto;
    border-radius: 6px;
    overflow: hidden;
    background: #00a200;
    z-index: 100000;
}
.container-envelope {
    padding: 5px 15px 20px 30px;
    color: #fff;
}

.responsive-banner a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 90%;
    padding-bottom: 16px;
}

.responsive-banner p{
    color: #e8e8e8;
    margin: 0;
    padding: 26px 0 35px;
}

input[type="file"] {
    display: none;
}

.label-file{
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}

td, th {
    border: 1px solid #bac0d3;
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #bac0d3;
}